html, body{
    margin: 0;
    height: 100%;
}

body{
    background-image: url("bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.transparent80{
    opacity: 80;
}